<!-- <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">  
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
-->

<div class="row" id="principal">
				
	<main class="main-content">
		<div class="container">
			<div class="page">
				
				<table class="cart">
					<thead>
						<tr>
							<th class="product-name">Nome do Produto</th>
							<th class="product-price">Preço</th>
							<th class="product-qty">Quantidade</th>
							<th class="product-total">Total</th>
							<th class="action"></th>
						</tr>
					</thead>
					<tbody ng-if="lista != null">
						<tr ng-repeat="produto in lista">
							<td class="product-name">
								<div class="product-thumbnail">
									<img src="dummy/cart-thumb-1.jpg" alt=""></img>
								</div>
								<div class="product-detail">
									<h3 class="product-title">{{produto.gam_titulo}}</h3>
									<p>{{produto.descricao.substring(0, 215)}}</p>
								</div>
							</td>
							<td class="product-price">{{produto.preco | currency}}</td>
							<td class="product-qty">
								<select name="#" ng-options="item as item.qtd for item in qtdLista track by item.qtd" ng-model="">
								</select>
							</td>
							<td class="product-total">$150.00</td>
							<td class="action"><a href="#"><i class="fa fa-times"></i></a></td>
						</tr>
					</tbody>
					<tbody ng-if="lista == null">
						<tr>
							<td class="product-name">
								<div class="product-detail">
									<h3 class="product-title">Não há produtos</h3>
								</div>
							</td>
							<td class="product-price"></td>
							<td class="product-qty"></td>
							<td class="product-total"></td>
							<td class="action"></td>
						</tr>
					</tbody>
				</table> <!-- .cart -->

				<div class="cart-total">
					<p><strong>Subtotal:</strong> $650.00</p>
					<p><strong>Shipment:</strong> $15.00</p>
					<p class="total"><strong>Total</strong><span class="num">$665.00</span></p>
					<p>
						<a href="#" class="button muted">Continue Shopping</a>
						<a href="#" class="button unmuted">Finalize and pay</a>
					</p>
				</div> <!-- .cart-total -->
				
			</div>
		</div> <!-- .container -->
	</main> <!-- .main-content -->

</div><!-- FECHA PRINCIPAL -->