<div class="row" id="principal">
				
	<div class="container">
		<div  id="conteudo">
			<div class="container-pagination">
				<div class="row">
					<span class="col-md-2 fields-css">
						<label>Ordenar por:</label>
						<select name="#" class=" form-control">
							<option value="#">Popularidade</option>
							<option value="#">Highest Rating</option>
							<option value="#">Lowest price</option>
						</select>
					</span>
					<span class="col-md-2 fields-css">
						<label>Genero</label>
						<select name="#" class=" form-control">
							<option value="#">Show All</option>
							<option value="#">Action</option>
							<option value="#">Racing</option>
							<option value="#">Strategy</option>
						</select>
						
					</span>
					<span class="col-md-2 fields-css">
						<label>Show:</label>
						<select name="#" class=" form-control">
							<option value="#">8</option>
							<option value="#">16</option>
							<option value="#">24</option>
						</select>
					</span>
					
					<uib-pagination boundary-links="true" total-items="gamesDestaques.length" ng-model="currentPage" 
						items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
						first-text="&laquo;" last-text="&raquo;" ng-change="pageChange()">
					</uib-pagination>
				</div> 

			
				
			</div> <!-- .filter-bar -->
			
			<div class="product-list">
				<div class="product" ng-repeat="game in gamesDestaques.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"  ng-if="gamesDestaques.length != 0">
					<div class="inner-product">
						<div class="figure-image">
							<a href="#/detalhes" ng-click="detalhes(game)"><img ng-src="{{game.gam_imagem}}" id="capa-game"></a>
						</div>
						<h3 class="product-title"><a href="#/detalhes">{{game.gam_titulo}}</a></h3>
						<small class="price">R${{game.gam_preco}}</small>
						<p>{{game.gam_descricao.substring(0, 70)}}...</p>
						<a href="" class="button unmuted" ng-click="addCarrinho(game)">Add carrinho</a>
						<a href="#/detalhes" class="button muted" ng-click="detalhes(game)">Mais detalhes</a>
					</div>
				</div> <!-- .product-list -->
			</div> <!-- .product-list -->
				
		</div>
		
		<div class="container-pagination">
			<uib-pagination boundary-links="true" total-items="gamesDestaques.length" ng-model="currentPage" 
				items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
				first-text="&laquo;" last-text="&raquo;" ng-change="pageChange()">
			</uib-pagination>
		</div>
		
	</div> <!-- .container -->

</div>