/* estilo formatação dos id's */
#top-barra {
	width: 100%;
	background: #2b2b2b;
	margin-left: 0%;
    margin-right: 0%;
	top:0;				/*top, position e deixam fixo a barra no topo */
	position:fixed;
	z-index: 10000; 	/* sobrepoe a barra em cima da pagina */
}
#site-content {
	padding-top: 15px;
	background-image: url('../../images/site/background/need_1200x800.jpg');
	background-attachment: fixed;
	background-size: 100%;
}
#principal {
	margin-top: 6%;
	/*padding-top: 15px;*/
	padding-left: 100px;
    padding-right: 100px;
	padding-bottom: 15px;
	background-size: cover;
    background-repeat: no-repeat;
	/*background: url('https://eaassets-a.akamaihd.net/origin-com-store-damassets/content/dam/eadam/N/NFS_16/185353/PDP_Background/1024486_pdpbg_1200x800_en_US_1.jpg') top center fixed;*/
}

#logotipo{
	width: 60%;
	margin: auto;
	padding-top: 10px;
}
#barra-pesquisa {
	margin: auto;
	padding: 20px;
}
#carrinho-login{
	padding-top: 10%;
	margin: auto;
	padding-right: 15%;
	
}
#descricao{
	background-color: rgba(5, 4, 4, 0.79); 
	padding: 18px;
}
#capa-game{
	height: 310px;
}
#procurar{
	margin-top: 25px;
}
/* cor do icone carrinho */
.fa-shopping-cart{
	color: #45b77d;
}
/* estilos do links */
a:link, a:visited {
	text-decoration: none;
	color: #898e90;
	outline: 0px none;
}
a:hover {
	text-decoration: underline; 
	color: #45b77d;
}
a:active {
	text-decoration: none;
}
/* estilo formatação logotipo */
#imagem {
	width: 100%; height: 70%;
	margin: auto;
}
/* estilo ao redimensionar tela de no minimo 768px*/
@media only screen and (min-width: 768px) {
	#imagem{
		width: 70%;
	}
	.site-footer .newsletter-form input[type="submit"] {
	  width: 26%;
	}
}
/* estilo ao redimensionar tela de no máximo 435px*/
@media only screen and (max-width: 435px) {
	#principal{
		margin-top: 40%;
	}
	#capa-game{
		height: 100%;
	}
	#procurar{
		margin-left: auto;
		margin-right: auto;
		width: 180px;
		font-size: xx-large;
	}
	#principal{
		padding-left: 10px;
		padding-right: 10px;
	}

	.site-footer .newsletter-form input[type="submit"] {
	  width: 50%;
	}
	.site-footer .newsletter-form input[type="text"] {
	  width: 80%;
	}
}