<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>E-gammer - Login</title>
		<meta name="description" content="">
			<meta name="author" content="templatemo">
				
</head>
<body ng-app="">
	<div class="templatemo-flex-row ">
		<ng-include src="'../../padroes/barra_lateral_admin.html'"></ng-include>
		<div class="templatemo-content col-1 light-gray-bg">
			
				<form class="container-fluid">
					<div class="form-group ">
						<div class="input-group ">
							<div class="input-group-addon">
								<i class="fa fa-user fa-fw"></i>
							</div>
							<input type="text" class="form-control" placeholder="Studio" ng-model="desenvolvedora.des_studio">
						</div>
					</div>
					<div class="form-group ">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-key fa-fw"></i>
							</div>
							<input type="password" class="form-control"
								placeholder="Desenvolvedora"
								ng-model="desenvolvedora.des_distribuidora">
						</div>
					</div>

					<div class="form-group ">
						<button type="submit" class="templatemo-blue-button width-30"
							ng-click="salvar()">Salvar</button>
					</div>
				</form>
				
				<div class="container-fluid">
					<table class="table table-striped">
						<thead>
					    	<tr>
					            <th class="cursor">Codigo</th>
					            <th class="cursor">Studio</th>
					            <th class="cursor">Desenvolvedora</th>
					        </tr>
					    </thead>
					    <tbody>
					    	
					    </tbody>
					</table>
				</div>
		</div>
	</div>
	<ng-include src="'../../padroes/rodape.html'"></ng-include>

	<!-- JS -->
	<script type="text/javascript" src="../../css/angular.min.js"></script>
	<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700'
	rel='stylesheet' type='text/css'>
	<link href="../../css/font-awesome.min.css" rel="stylesheet">
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/templatemo-style.css" rel="stylesheet">
	<script src="../../css/jquery-1.11.2.min.js"></script>
	<script src="../../css/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../../css/templatemo-script.js"></script>
	<script type="text/javascript" src="../../controller/comum/comum.js"></script>
</body>
</html>