<div class="container-fluid ">
	<div class="form-group ">
		<button type="submit" class="templatemo-blue-button width-30" ng-click="novaDesevolvedora()">Novo</button>
		<div class="linha"></div>
	</div>
	<table class="table table-striped ">
		<thead >
			<tr>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody >
			<tr data-ng-repeat="des in desenvolvedoras" >
				
				<td class="col-md-9">{{des.des_studio}}</td>
				<td>
                    <a class="btn btn-danger" ng-click="deselvolvedoraDelete(des.des_codigo);"> <i class="fa fa-trash-o"></i> Apagar</a>
                    <a class="btn btn-warning" ng-click="desenvolvedoraEditar(des);"> <i class="fa fa-trash-o"></i> Editar</a>
                </td>
			</tr>
		</tbody>
	</table>
	</br>
</div>