<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-gammer - Game</title>
	<meta name="description" content="">
	<meta name="author" content="templatemo">
			        
</head>
<body ng-app="egammer">
	<div ng-controller="GameControllerMenu">
		
		<div class="templatemo-flex-row ">
			<ng-include src="'../padroes/barra_lateral_admin.html'"></ng-include>
			<div class="templatemo-content col-1 light-gray-bg">
				<div class="container-fluid ">
					<table class="table table-striped ">
						<thead >
							<tr>
								<th>Descrição</th>
							</tr>
						</thead>
						<tbody >
							<tr data-ng-repeat="gam in games.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"  ng-if="games.length != 0">
								
								<td class="col-md-9">{{gam.gam_titulo}}</td>
								<td>
		                            <a class="btn btn-danger" ng-click="gameDelete(gam.gam_codigo);"> <i class="fa fa-trash-o"></i> Apagar</a>
		                            <a class="btn btn-warning" ng-click="gameEditar(gam);"> <i class="fa fa-trash-o"></i> Editar</a>
		                        </td>
							</tr>
							<tr ng-if="games.length == 0">
								<td>
									<p>Não existem Games Cadastrados</p>
								</td>
							</tr>
						</tbody>
					</table>
					</br>
					
					<uib-pagination boundary-links="true" total-items="games.length" ng-model="currentPage" 
						items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
						first-text="&laquo;" last-text="&raquo;" ng-change="pageChange()"></uib-pagination>
					</br>
				</div>
			</div>
		</div>
		<ng-include src="'../padroes/rodape.html'"></ng-include>
	</div>
    <!-- JS -->
  
	<script type="text/javascript" src="../../js/bibliotecas/angular.min.js"></script>
	<script type="text/javascript" src="../../js/bibliotecas/angular-local-storage.min.js"></script>
	<script type="text/javascript" src="../../js/bibliotecas/angular-route.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href="../../css/font-awesome.min.css" rel="stylesheet">
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/templatemo-style.css" rel="stylesheet">
	<link href="../../css/jquery-ui.css" rel="stylesheet">
	<link href="../../css/bootstrap-datepicker.css" rel="stylesheet">
	<script src="../../js/bibliotecas/jquery-1.11.2.min.js"></script>
	<script src="../../js/bibliotecas/jquery-migrate-1.2.1.min.js"></script>
	<script src="../../js/bibliotecas/bootstrap-datepicker.js"></script>
	<script src="../../js/bibliotecas/bootstrap-datepicker.pt-BR.min.js"></script>
	<script type="text/javascript" src="../../js/bibliotecas/templatemo-script.js"></script>
	<script src="../../js/bibliotecas/angular-animate.js"></script>
	<script src="../../js/bibliotecas/ui-bootstrap.js"></script>
	<script src="../../js/bibliotecas/bootstrap.min.js"></script>
	<script src="../../js/bibliotecas/dirPagination.js"></script>
	<script type="text/javascript" src="../../js/comum/comum.js"></script>
	<script type="text/javascript" src="../../js/service/admin/generoService.js"></script>
	<script type="text/javascript" src="../../js/service/admin/desenvolvedoraService.js"></script>
	<script type="text/javascript" src="../../js/service/admin/gameService.js"></script>
	<script type="text/javascript" src="../../js/controller/admin/generoController.js"></script>
	<script type="text/javascript" src="../../js/controller/admin/desenvolvedoraController.js"></script>
	<script type="text/javascript" src="../../js/controller/admin/gameControllerMenu.js"></script>
	<script type="text/javascript" src="../../js/controller/admin/gameController.js"></script>
</body>
</html>